<div class="row">
  <div class="col-lg-12">

    <section id="stage-selector">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="dropdown">
                <button class="btn  btn-info dropdown-toggle" type="button" id="setrace" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{ main.actualRace }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="setrace">
                  <li class="" ng-repeat="race in main.tours" ng-click="main.setRace(race)">
                    <a href="#">{{ race.name }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-8 col-md-8">
              <div class="dropdown">
                <button class="btn  btn-info dropdown-toggle" type="button" id="setstage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{ main.actualStage }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="setstage">
                  <li class="" ng-repeat="stage in main.race" ng-click="main.setStage(stage.request_id, stage.name)">
                    <a href="#">{{ stage.stage }} - {{ stage.name }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="race-info">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row" ng-hide="main.resolveStage">
            <div class="col-lg-12">
              <div ng-hide="!main.spinner">
                <h4 class="result-false text-center">Cargando</h4>
              </div>
              <div ng-hide="main.spinner">
                <h4 class="result-false text-center">No se encontraron resultados</h4>
              </div>
            </div>
          </div>
          <div class="row" ng-hide="!main.resolveStage">
            <div class="col-lg-12">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                <li role="presentation" class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle" id="download" data-toggle="dropdown" aria-controls="download-content">
                    Descargar
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown" id="download-content">
                    <li class="mdl-menu__item" ng-csv="main.ranking.GC" filename="etapa.csv"><a>Etapa</a></li>
                    <li class="mdl-menu__item" ng-csv="main.ranking.Stage" filename="general.csv"><a>General</a></li>
                    <li class="mdl-menu__item" ng-csv="main.ranking.Mountains" filename="montaña.csv"><a>Montaña</a></li>
                    <li class="mdl-menu__item" ng-csv="main.ranking.Points" filename="puntos.csv"><a>Puntos</a></li>
                    <li class="mdl-menu__item" ng-csv="main.ranking.Teams" filename="quipos.csv"><a>Equipos</a></li>
                    <li class="mdl-menu__item" ng-csv="main.ranking.Youth" filename="juvenil.csv"><a>Juvenil</a></li>
                  </ul>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="mdl-data-table__cell--non-numeric">Puesto</th>
                        <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                        <th class="mdl-data-table__cell--non-numeric">Equipo</th>
                        <th>Tiempo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="racer in main.ranking.GC">
                        <td class="mdl-data-table__cell--non-numeric">{{ racer.position }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ racer.name }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ racer.team }}</td>
                        <td>{{ racer.time }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">...</div>
                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                <div role="tabpanel" class="tab-pane" id="settings">...</div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

  </div>
</div>
