<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel is-active" id="overview">

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-hide="main.closeTips">
      <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text">
          <h5 class="who">Como funciona</h5> 1.- Instalar esta extención de chrome <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en">Chrome CORS.</a><br
          /> 2.- Reiniciar Chrome, hacer click en el icono de CORS y seleccionar "Enable cross origin". EL icono se deberia
          poner verde<br /> 3.- Seleccionar la carrera y la etapa. (Si la etapa todavia no se corre el sitio no va a desplegar
          la tabla de resultados)<br /> 4.- Al hacer click en los "3 puntos" se puede seleccionar bajar el archivo CSV.<br />
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" ng-click="main.closeTips = true">
        <i class="material-icons">close</i>
      </button>
    </section>

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp button-selector">
      <div class="selector tour">
        <!-- Left aligned menu below button -->
        <button id="setRace" class="mdl-button mdl-js-button mdl-button--primary">
          {{ main.actualRace }}
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="setRace">
          <li class="mdl-menu__item" ng-repeat="race in main.tours" ng-click="main.setRace(race)">
            <a>{{ race.name }}</a>
          </li>
        </ul>

      </div>

      <div class="selector etapa">
        <!-- Left aligned menu below button -->
        <button id="setStage" class="mdl-button mdl-js-button mdl-button--primary">
           {{ main.actualStage }}
           <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="setStage">
          <li class="mdl-menu__item" ng-repeat="stage in main.race" ng-click="main.setStage(stage.request_id, stage.name)">
            <a>{{ stage.stage }} - {{ stage.name }}</a>
          </li>
        </ul>
      </div>

      <div class="selector download" ng-hide="!main.resolveStage">
        <button id="download" class="mdl-button mdl-js-button mdl-button--primary pull-right" >
          Descargar excel
          <i class="material-icons">file_download</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="download">
          <li class="mdl-menu__item"><a>Etapa</a></li>
          <li class="mdl-menu__item"><a>General</a></li>
          <li class="mdl-menu__item"><a>Montaña</a></li>
          <li class="mdl-menu__item"><a>Puntos</a></li>
          <li class="mdl-menu__item"><a>Equipos</a></li>
          <li class="mdl-menu__item"><a>Juvenil</a></li>
        </ul>
      </div>
    </section>

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
      <div class="mdl-card mdl-cell mdl-cell--12-col table-times">

        <div class="mdl-card__supporting-text spinnerbox" ng-hide="!main.spinner">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>

        <table class="mdl-data-table mdl-js-data-table" ng-hide="!main.resolveStage">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Puesto</th>
              <th class="mdl-data-table__cell--non-numeric">Nombre</th>
              <th class="mdl-data-table__cell--non-numeric">Equipo</th>
              <th>Tiempo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="racer in main.ranking.GC">
              <td class="mdl-data-table__cell--non-numeric">{{ racer.position }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ racer.name }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ racer.team }}</td>
              <td>{{ racer.time }}</td>
            </tr>
        </table>
      </div>
    </section>

  </div>
</main>